fastapi==0.115.0
uvicorn[standard]==0.32.0
google-cloud-bigquery==3.25.0
pydantic==2.9.2
python-multipart==0.0.9
google-cloud-aiplatform==1.90.0
google-auth==2.42.1
google-cloud-pubsub==2.18.4
google-cloud-vision==3.7.4
google-cloud-storage==2.18.2
google-cloud-firestore==2.19.0